<!DOCTYPE html>
{% load staticfiles %}
{% load djff_filters %}

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'djff/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'djff/jquery-ui.css' %}" />

    <script type="text/javascript" src="{% static 'djff/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'djff/jquery-ui.js' %}"></script>

    <script type="text/javascript" src="{% static 'djff/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'djff/moment-timezone.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'djff/moment-timezone-with-data-2010-2020.min.js' %}"></script>

    {% block localscript %}{% endblock %}

    <title>FishFace{% block pagetitle %}{% endblock %}</title>

    <script type="text/javascript">
$(document).ready(function(){
}
    </script>

</head>

<body>

<header>
    <div id="header_title_block">
    <h2><a href="{% url 'djff:xp_index' %}" id="header_title">FishFace</a></h2>
    <h4>{% block subtitle %}{% endblock %}</h4>
    </div>
</header>

<div id="sidebar">
    {% block sidebar %}
        <ul id="main_menu">
        <a href="{% url 'djff:xp_index' %}"><li id="menu_experiments">Experiments</li></a>
        <a href="{% url 'djff:sp_index' %}"><li id="menu_species">Species</li></a>
        <a href="{% url 'djff:cjt_index' %}"><li id="menu_templates">CapJob Templates</li></a>
        <a href="{% url 'djff:cq_interface' %}"><li id="menu_job_queue">CapJob Queue</li></a>
        </ul>
    {% endblock %}
</div>

<div id="preview_area">
    {% block preview_area %}
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>