<!DOCTYPE html>
{% load staticfiles %}
{% load djff_filters %}

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
          href="{% static 'djff/base.css' %}" />
    <title>FishFace{% block pagetitle %}{% endblock %}</title>
</head>

<body>

<header>
    <h2><a href="{% url 'djff:experiment_index' %}">FishFace</a></h2>
    <h4>{% block subtitle %}{% endblock %}</h4>
</header>

<div id="sidebar">
    {% block sidebar %}
        <ul>
        <li><a href="{% url 'djff:experiment_index' %}">Experiments</a></li>
        <ul>
            <li><a href="{% url 'djff:sp_list' %}">Species</a></li>
            <li><a href="{% url 'djff:cjt_list' %}">CapJob Templates</a></li>
        </ul>
{#        <li><a href="{% url 'djff:hopperchain_index' %}">Hopperchains</a></li>#}
        </ul>
    {% endblock %}
</div>

<div id="preview_area">
    {% block preview_area %}
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>