{% load staticfiles %}

<html>
<head>
   <link rel="stylesheet" type="text/css" href="{% static 'djff/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'djff/jquery-ui.min.css' %}" />

    <script type="text/javascript" src="{% static 'djff/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'djff/jquery-ui.min.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        if (window.ff == undefined) { window.ff = {
            telemetry_proxy_url: "{% url 'djff:telemetry_proxy' %}",
            csrf_token: "{{ csrf_token }}"
        }; }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
           beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', window.ff.csrf_token);
                }
            }
        });

        window.ff.cjt_chunk_url = "{% url 'djff:cjt_chunk' 1 %}".slice(0,-2);
        window.ff.cjt_ids = {{ cjt_ids|safe }};

        window.ff.append_cjt_li_chunk = function(ul_id, cjt_id) {
            $.ajax({
                type: 'POST',
                url: window.ff.cjt_chunk_url + cjt_id + '/',  // set by inline javascript on the main page
                data: {},
                success: function (data, status, jqXHR) {
                    console.log(data);
                    $("#" + ul_id).append(data);
                },
                error: function(jqXHR, status, error) {
                    console.log(error);
                },
                dataType: 'html'
            });
        };

        $('#cjt_list_placeholder').remove();
        var cjt_list = $('#cjt_list');
        for (idx in window.ff.cjt_ids) {
            window.ff.append_cjt_li_chunk('cjt_list', window.ff.cjt_ids[idx]);
        }

    });
    </script>
</head>

<body>
<ul id="cjt_list">
    <li id="cjt_list_placeholder">No CJTs.</li>
</ul>


</body>

</html>