{% extends "djff/base.html" %}

{% block subtitle %}Capture Job Template{% endblock %}

{% block content %}
    <form action="{% url 'djff:cjt_detail' context.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>

    <p>Note: To run the flume for a certain amount of time without capturing any data, use a 0 value for
    the interval.  For example, you could set the voltage to 0V, the duration to 900s, and the interval
    to 0 to give the fish a 15-minute rest.</p>
{% endblock %}