{% extends "djff/base.html" %}

{% block subtitle %}Capture Job Template{% endblock %}

{% block content %}
    <ol>
    {% for cjt in context %}
                <li class="boxed">
                    <a href="{% url 'djff:cjt_detail' cjt.id %}">
                        Capture Job Template
                    </a>
                    {% if cjt.description %}
                        <p class="boxed">Description: {{ cjt.description }}</p>
                    {% endif %}
                    <br><em>Voltage</em>: {{ cjt.voltage }} V
                    <br><em>Max current</em>: {{ cjt.current }} A
                    <br>
                    <br><em>Duration</em>: {{ cjt.duration }}
                    {% if cjt.interval > 0 %}
                        <br><em>Interval</em>: {{ cjt.interval }}
                        <br><em>Startup Delay</em>: {{ cjt.startup_delay }}
                        <br>
                    {% else %}
                        <p>No images will be captured with this job.</p>
                    {% endif %}

                    <form action="{% url 'djff:cjt_delete' cjt.id %}"
                            method="post">
                        {% csrf_token %}
                        <input type="submit"
                               value="Delete this template" />
                    </form>
                </li>
    {% empty %}
        <p>There are no stored capture job templates.</p>
    {% endfor %}
    </ol>

    <p>Add a <a href="{% url 'djff:cjt_new' %}">new capture job template</a>.</p>
{% endblock %}