{% extends "djff/base.html" %}

{% block localscript %}
    <script type="text/javascript">
        $(document).ready(function(){

            function send_to_raspi(obj_to_send, success_function) {
                $.post(
                    '{% url 'djff:telemetry_proxy' %}',
                    obj_to_send,
                    success_function,
                    'json'
                ).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(
                        "ERROR:\n  textStatus: " + textStatus +
                        "\n  text: " + jqXHR.text +
                        "\n  errorThrown: " + errorThrown
                    );
                    return false;
                });
            }

            function repopulate_fields(data, textStatus, jqXHR) {
                if (data.current_job != null) {
                    $('#current_job_wrapper').css('display', 'block');
                } else {
                    $('#current_job_wrapper').css('display', 'none');
                }

                if (data.staged_job != null) {
                    $('#staged_job_wrapper').css('display', 'block');
                } else {
                    $('#staged_job_wrapper').css('display', 'none');
                }

                if (data.queue.length > 0) {
                    $('#queue_placeholder').delete();
                    // $('#capturejob_queue').css('display', 'block');
                    console.log("TODO: fill queue")
                } else {
                    $('#capturejob_queue').html('<li id="queue_placeholder">No items in queue</li>');
                }


            }

                {% for cjt in cjts %}
                $('#CJT_' + {{ cjt.id }}).data('cjt_id', {{ cjt.id }});
            {% endfor %}

            $('#b-ton').click( function() {
                $('.job_queue_item').each( function () {
                    console.log(' ' + $(this).attr('data-cjt'));
                });
            });

            $('#a-ton').click( function() {
                send_to_raspi({'command': 'job_status'}, repopulate_fields);
            });

            $('#capturejob_queue').sortable({
                update: function(event, ui) {
                console.log($('#capturejob_queue').sortable('toArray').toString());
                },
                revert: true,
                stop: function(event, ui) {
                    if (ui.item.hasClass("fresh_cjt")) {
                        ui.item.removeClass("fresh_cjt");
                        ui.item.addClass("job_queue_item");
                    }
                },
                beforeStop: function(event, ui) {
                    newItem = ui.item;
                    helperId = ui.helper.attr('data-cjt');
                },
                receive: function(event, ui) {
                    $(newItem).attr('id', 'CJT_' + helperId);
                },
                placeholder: "ui-sortable-placeholder"
            });

            $(".fresh_cjt").draggable({
                connectToSortable: "#capturejob_queue",
                helper: "clone",
                revert: "invalid"
            });



        });
    </script>

{% endblock %}

{% block subtitle %}Capture Queue Editor{% endblock %}

{% block content %}
    <div id="current_job_wrapper" class="job_wrapper">
        <h2>Currently Running Job</h2>
        <div id="current_job"></div>
    </div>

    <div id="staged_job_wrapper" class="job_wrapper">
        <h2>Staged Job</h2>
        <div id="staged_job"></div>
    </div>

    <div id="capture_queue_wrapper" class="job_wrapper">
        <h2>Queue</h2>

        <ul class="queue_block" id="capturejob_queue">
        </ul>
    </div>

    <form action="{% url 'djff:cq_interface' %}" method="post">
        {% csrf_token %}
        <input type="button" value="b-ton" id="b-ton">
        <input type="button" value="a-ton" id="a-ton">
        <input type="submit" value="Save">
    </form>

    <h3>DEBUGGING OUTPUT</h3>
    <div id="debug_print_area"></div>
{% endblock %}

{% block preview_area %}
    <ul class="queue_block" id="cjt_list">
    {% for cjt in cjts %}
        <li class="fresh_cjt" id="CJT_{{ cjt.id }}" data-cjt="{{ cjt.id }}">{{ cjt.startup_delay }}s, then
            every {{ cjt.interval }}s for {{ cjt.duration }}s
        ({{ cjt.voltage }}V, {{ cjt.current }}A)</li>
    {% endfor %}
    </ul>


{% endblock %}