{% extends "djff/base.html" %}

{% block subtitle %}Edit Hopperchain{% endblock %}

{% block content %}
    <em>Hopperchain Name:</em><br />
    <strong>
        <a href="{% url 'djff:hopperchain_rename' chain.id %}">
            {{ chain.hopperchain_name }}
        </a>
    </strong>

    <ol>
    <form method="post"
          action="{% url 'djff:hopperchain_editor' chain.id %}">
        {% csrf_token %}
    {% for hop_type, hop_param in chain.hopperchain_spec %}
        <li class="hopper_line">
            <a href="insert/{{ forloop.counter0 }}/" class="insert">+</a>

            {% if chain.hopperchain_spec|length > 1 %}
                <a href="delete/{{ forloop.counter0 }}/" class="delete">x</a>
            {% else %}
                <span class="disabled">x</span>
            {% endif %}

            {% if forloop.counter0 != 0 %}
                <a href="up/{{ forloop.counter0 }}/" class="updown">^</a>
            {% else %}
                <span class="disabled">^</span>
            {% endif %}

            {% if forloop.revcounter0 != 0 %}
            <a href="down/{{ forloop.counter0 }}/" class="updown">v</a>
            {% else %}
                <span class="disabled">v</span>
            {% endif %}

            &NonBreakingSpace;
            &NonBreakingSpace;
            <span class="type">{{ hop_type }}</span>{% if hop_param %}:
            <span class="parameters">{{ hop_param }}</span>
            <br>
            {% for param, value in hop_param.iteritems %}
            <ul>
                <li>{{ param }} =
                <input
                       type="text"
                       name="editparam {{ forloop.parentloop.counter0 }} {{ param }}"
                       value="{{ value }}"
                />
                </li>
            </ul>
            {% empty %}
            {% endfor %}

            {% endif %}
            <ul>
            {% if hop_type == "null" %}
                <li> Set new hopper type:
                {% for hop_new_class in hopper_classes %}
                    <a href="{% url 'djff:hopperchain_set' chain.id forloop.parentloop.counter0 hop_new_class %}">
                        {{ hop_new_class }}
                    </a>
                {% endfor %}
                </li>
                <br>
            {% endif %}
            </ul>

        </li>
    {% empty %}
    <h4>Hopperchain not found.</h4>
    {% endfor %}
    <input type="submit" value="Save changes" />
    </form>
    </ol>

{% endblock %}