{% extends "djff/base.html" %}

{% block subtitle %}Detail View of Hopperchain{% endblock %}

{% block content %}
{% if chain %}
    <a href="{% url 'djff:hopperchain_rename' chain.id %}">
        {{ chain.hopperchain_name }}
    </a>
    <ol>
        {% for hop_type, hop_param in chain.hopperchain_spec %}
            <li class="hopper_line">
            <span class="type">{{ hop_type }}</span>{% if hop_param %}:
                <span class="parameters">{{ hop_param }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>

    <a href="{% url 'djff:hopperchain_edit' chain.id %}">
    edit
    </a>
{% else %}
    <p>Hopperchain not found.</p>
{% endif %}
{% endblock %}