{% extends "djff/base.html" %}

{% block subtitle %}Stored Hopperchains{% endblock %}

{% block content %}
    <ol>
    {% for chain in hopperchain_list %}
                <li>
                    <a href="{% url 'djff:hopperchain_edit' chain.id %}">
                    {{ chain.hopperchain_name }}
                    </a>
                </li>
    {% empty %}
        <p>No hopperchains have been stored.</p>
    {% endfor %}
    </ol>

    <p>Add a <a href="{% url 'djff:hopperchain_new' %}">new hopperchain</a>.</p>
{% endblock %}