{% extends "djff/base.html" %}

{% block subtitle %} - Stored Hopperchains{% endblock %}

{% block content %}
{% if hopperchain_list %}
    <ul>
        {% for chain in hopperchain_list %}
            <li>{{ chain.hopperchain_name }}</li>
            <ul>
                {% for hop_type, hop_param in chain.hopperchain_spec %}
                    <li>{{ hop_type }}: {{ hop_param }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% else %}
    <p>No hopperchains have been stored.</p>
{% endif %}
{% endblock %}