{% extends "djff/base.html" %}
{% load staticfiles %}

{% block localscript %}
    <script type="text/javascript">
        if (window.ff == undefined) { window.ff = {}; }
        window.ff.tag_submit_url = "{% url 'djff:tag_submit' %}";
        window.ff.researchers = {{ researchers_json|safe }};
    </script>
    <script type="text/javascript" src="{% static 'djff/fabric_text_interaction.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'djff/tagging_interface.js' %}" canvas="tag_canvas"></script>

{% endblock %}

{% block subtitle %}Tagging Experimental Data{% endblock %}

{% block content %}
    <div id="select_researcher_text">Please select your name from the drop-down list to the right.</div>

    <span id="canvas_wrapper">
        <canvas id="over_canvas" width="400" height="300" class="boxed"></canvas>
        <br />
        <canvas id="tag_canvas" width="400" height="300" class="boxed"></canvas>
    </span>
{% endblock %}

{% block preview_area %}
    <div id="researcher_selection_wrapper">
        <form id="researcher_selection_form">
            <select id="researcher_dropdown">
                <option value="NONE" selected="selected">Please select researcher</option>
            {% for researcher in researchers %}
                <option value="{{ researcher.id }}">{{ researcher.name }}</option>
            {% endfor %}
            </select>
        </form>
    </div>
    <div id="greet_researcher">
        Hello, <span id="res_name"></span>.
        (<a href="" id="change_res">not <span id="res_name2"></span></a>?)

        <p>In the area to the left, you'll see two images.  The upper image is an overview
        and the lower image is a zoomed view of the image above.  Click on the upper image
        to zoom in on the fish in the lower image.  Then draw an arrow by dragging the
        mouse to indicate which way the fish is facing.</p>
        <p>You can pan the zoomed area
        and redraw the green indicator until you are happy with it.  Then click the green
        "Save and Proceed" button below and you'll be taken to the next taggable image.</p>
        <p>Once you have saved a tag, you can't go back, so make sure that you're happy
        before clicking the button.</p>
    </div>

    <div id="tag_form_wrapper">
        <form id="tag_form">
            <input type="submit" id="save_proceed_button" value="Save and Proceed">
            <input type="hidden" class="narrower_input" id="image_id" name="image_id" value="DO_NOT_POST">
            <input type="hidden" class="narrower_input" id="researcher_id" name="researcher_id" value="NONE">
            <input type="hidden" id="form_start" name="start">
            <input type="hidden" id="form_end" name="end">
        </form>
    </div>

    <p />

    <div id="researcher_score">
        <p>You have tagged <span class="boxed" id="researcher_tag_score">a specific number of</span> images so far.</p>
        <p>You also lost <span class="boxed" id="researcher_bad_tags">a specific number of</span> tags to validation.</p>
    </div>

    <div class="debug_output"></div>

{% endblock %}