{% extends "djff/base.html" %}
{% load staticfiles %}

{% block localscript %}
    <script type="text/javascript">
        if (window.ff == undefined) { window.ff = {}; }
        window.ff.tag_submit_url = "{% url 'djff:tag_verify' %}";
    </script>
    <script type="text/javascript" src="{% static 'djff/fabric_text_interaction.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'djff/verification_interface.js' %}" canvas="tag_canvas"></script>

{% endblock %}

{% block subtitle %}Verifying Data Analysis{% endblock %}

{% block content %}
    <div id="select_researcher_text">Please select your name from the drop-down list to the right.</div>

    <span id="canvas_wrapper">
        <canvas id="canvas" width="400" height="300" class="boxed"></canvas>
    </span>
{% endblock %}

{% block preview_area %}
    <div id="researcher_selection_wrapper">
        <form id="researcher_selection_form">
            <select id="researcher_dropdown">
                <option value="NONE" selected="selected">Please select researcher</option>
            {% for researcher in researchers %}
                <option value="{{ researcher.id }}">{{ researcher.name }}</option>
            {% endfor %}
            </select>
        </form>
    </div>

    <div id="greet_researcher">
        Hello, <span id="res_name"></span>.
        (<a href="" id="change_res">not <span id="res_name2"></span></a>?)

        <p>In the area to the left, you'll see a grid of images.  All of the fish are supposed to
        be "facing" to the right.  If any of the fish aren't facing to the right, click on them
        to highlight them in red.  When all of the fish that aren't facing right are highlighted,
        or if they were all facing to the right to begin with, then click the green button below
        to verify this set and view a new set of images.
    </div>

    <div id="tag_form_wrapper">
        <form id="tag_form">
            <input type="submit" id="verify_proceed_button" value="Verify and Proceed">
            <input type="hidden" class="narrower_input" id="image_ids" name="image_ids" value="DO_NOT_POST">
            <input type="hidden" class="narrower_input" id="images_verified" name="images_verified" value="DO_NOT_POST">
            <input type="hidden" class="narrower_input" id="researcher_id" name="researcher_id" value="NONE">
            <input type="hidden" id="form_start" name="start">
            <input type="hidden" id="form_end" name="end">
        </form>
    </div>

    <div class="debug_output"></div>

{% endblock %}