{% extends "djff/base.html" %}
{% load staticfiles %}
{% load djff_filters %}

{% block localscript %}
    <script type="text/javascript" src="{% static 'djff/fabric_text_interaction.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'djff/xp_detail.js' %}"></script>


{% endblock %}

{% block subtitle %}Experiment Details{% endblock %}

{% block content %}
    <h1>
        <a href="{% url 'djff:xp_rename' xp.id %}">
            {{ xp.name }}
        </a> (XP-{{ xp.id }})
    </h1>

    {% if not cal_images %}
        <div class="boxed bad">
            <p>The first image captured for an experiment must be
        a <em>calibration image</em>.  No fish should be in the flume,
        but otherwise the configuration of the lighting, etc.
        should be exactly as it will be during the data capture.</p>

            <p>When you're ready to capture a calibration image, check the
        box below and click on the button.</p>
        </div>
    {% endif %}
    <div class="boxed calibration_images_presentation">
    <h3>Calibration Images</h3>
    <form method="post"
          action="{% url 'djff:xp_capturer' %}">
        {% csrf_token %}

        <input type="hidden" value="0" name="voltage">
{# TODO: make current default not hard coded       #}
        <input type="hidden" value="15" name="current">
        <input type="hidden" value="True" name="is_cal_image">
        <input type="checkbox" value="True" name="cal_ready">
        Ready to capture calibration image (no fish):
        <input type="hidden" value="{{ xp.id }}" name="xp_id">
        <input type="hidden" value="post_image" name="command">
        <input type="submit" value="Capture a {% if cal_images %}new {% endif %}calibration image" />
    </form>

    {% if cal_images %}
        <p>Calibration images for this experiment:</p>
        {% for img in cal_images %}
            {{ img.linked_inline_image|replace_width:"20"|mark_safe }}
        {% endfor %}
    {% endif %}
    </div>

    <br>

    {% if images_by_cjr %}
        <div class="boxed cjr_presentation">
        <h3>Capture Job Records</h3>
        <p>Click on an individual icon or X to see the full-resolution image.</p>
        <hr width="30%" />

        {% for cjr, imageset in images_by_cjr %}
            <div align="center"><strong>XP-{{ xp.id }}_CJR-{{ cjr.id }}</strong><br></div>
            Started: {{ cjr.job_start|date:"Y-m-d H:i:s" }}<br>
            Completed: {{ cjr.job_stop|date:"Y-m-d H:i:s" }}<br>
            Captured {{ imageset.count }} images at {{ cjr.voltage }}
            volts (max {{ cjr.current }} amps):<br>
            {% for img in imageset %}
                {{ img.linked_angle_bullet|safe }}
            {% endfor %}
            <hr width="30%" />
        {% empty %}
            <p>No capture jobs have been run for this experiment.</p>
        {% endfor %}
        </div>
    {% endif %}

    <canvas id="builder_canvas" width="20" height="20"></canvas>

{% endblock %}

{% block preview_area %}
{% endblock %}