{% extends "djff/base.html" %}
{% load staticfiles %}
{% load djff_filters %}

{% block subtitle %}Experiment Details{% endblock %}



{% block content %}
    <h1>
        <a href="{% url 'djff:xp_rename' xp.id %}">
            {{ xp.name }}
        </a>
    </h1>

    {% if not cal_images %}
        <div class="boxed bad">
            <p>The first image captured for an experiment must be
        a <em>calibration image</em>.  No fish should be in the flume,
        but otherwise the configuration of the lighting, etc.
        should be exactly as it will be during the data capture.</p>

            <p>When you're ready to capture a calibration image, check the
        box below and click on the button.</p>
        </div>
    {% endif %}
    <div class="boxed">
    <h3>Calibration Images</h3>
    <form method="post"
          action="{% url 'djff:xp_capturer' %}">
        {% csrf_token %}

        <input type="hidden" value="0" name="voltage">
{# TODO: make current default not hard coded       #}
        <input type="hidden" value="18" name="current">
        <input type="hidden" value="True" name="is_cal_image">
        <input type="checkbox" value="True" name="cal_ready">
        Ready to capture calibration image (no fish):
        <input type="hidden" value="{{ xp.id }}" name="xp_id">
        <input type="submit" value="Capture a {% if cal_images %}new {% endif %}calibration image" />
    </form>

    {% if cal_images %}
        <p>Calibration images for this experiment:</p>
        {% for img in cal_images %}
            {{ img.linked_inline_image|replace_width:"20"|mark_safe }}
        {% endfor %}
    {% endif %}
    </div>

    <br>

    {% if not running_jobs and cal_images and cjts %}
        <div class="boxed">
        <h3>Capture Jobs</h3>
            <ol>
    {% for cjt in cjts %}
        <li>
        <form method="post" action="{% url 'djff:run_capturejob' xp.id cjt.id %}">
        {% csrf_token %}
            Duration: {{ cjt.duration }},
            Interval: {{ cjt.interval }},
            Voltage: {{ cjt.voltage }} V,
            Current: {{ cjt.current }} A
        <input type="submit" value="Run this capture job" />
        </form>
        </li>
    {% endfor %}
    </ol>
    </div>
    {% elif running_jobs %}
        <div class="boxed">
        {% for cjr in running_jobs %}
            <strong>Active capture job:</strong><br>
            <em>Voltage</em>: {{ cjr.voltage }} V<br>
            <em>Current</em>: {{ cjr.voltage }} A<br>
            <em>Remaining</em>: {{ cjr.remaining }}/{{ cjr.total }}
        {% endfor %}
        </div>
    {% endif %}

    {% if images_by_cjr %}
        <div class="boxed">
        <h3>Capture Job Records</h3>
        <hr width="30%" />

        {% for cjr, imageset in images_by_cjr %}
            Started: {{ cjr.job_start }}<br>
            Completed: {{ cjr.job_stop }}<br>
            Captured {{ imageset.count }} images at {{ cjr.voltage }}
            volts (max {{ cjr.current }} amps):<br>
            {% for img in imageset %}
                {{ img.linked_inline_bullet|mark_safe }}
            {% endfor %}
            <hr width="30%" />
        {% empty %}
            <p>No capture jobs have been run for this experiment.</p>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block preview_area %}
{% endblock %}